In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("../data/raw/entrenamiento.xlsx")

In [4]:
df.shape

(3918, 12)

In [5]:
df.head()

,C1,C2,C3,C4,C5,C6,C7,C7.1,C9,C10,C11,des
0,6.8,0.190620,0.307485,18.1,46.00,32.0,4.897840,1.00000,3.27,0.392042,8.8,5
1,6.2,0.246860,NaN,5.0,43.00,50.0,5.241747,0.99318,3.23,0.494696,10.8,6
2,6.7,0.350657,0.329304,12.1,0.04,61.0,5.517453,0.99794,3.31,0.457425,9.7,5
3,6.8,0.254642,0.405465,13.3,53.00,48.0,5.273000,0.99740,3.09,0.371564,9.4,5
4,6.6,0.215111,0.239017,15.8,35.00,46.0,5.241747,0.99820,3.24,0.412110,9.2,5

In [6]:
df.rename(columns={"C7.1":"C8", "des": "QUALITY"}, inplace=True)

In [7]:
# Impute missing data by median
df.fillna(df.median(), inplace=True)

In [11]:
# Save imputed dataset as Excel file
output_path = "../data/processed/imputed_training.xlsx"
df.to_excel(output_path, index=False)
print(f"Dataset guardado en: {output_path}")

Dataset guardado en: ../data/processed/imputed_training.xlsx

In [8]:
df

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,QUALITY
0,6.8,0.190620,0.307485,18.1,46.00,32.0,4.897840,1.00000,3.27,0.392042,8.8,5
1,6.2,0.246860,0.277632,5.0,43.00,50.0,5.241747,0.99318,3.23,0.494696,10.8,6
2,6.7,0.350657,0.329304,12.1,0.04,61.0,5.517453,0.99794,3.31,0.457425,9.7,5
3,6.8,0.254642,0.405465,13.3,53.00,48.0,5.273000,0.99740,3.09,0.371564,9.4,5
4,6.6,0.215111,0.239017,15.8,35.00,46.0,5.241747,0.99820,3.24,0.412110,9.2,5
...,...,...,...,...,...,...,...,...,...,...,...,...
3913,7.7,0.231112,0.215111,11.2,31.00,41.0,5.123964,0.99480,3.12,0.357674,11.3,7
3914,8.1,0.378436,0.270027,1.7,52.00,50.0,5.214936,0.99230,3.03,0.350657,11.2,5
3915,6.1,0.148420,0.254642,6.0,0.03,29.0,4.976734,0.99474,3.68,0.378436,10.7,6
3916,8.2,0.239017,0.329304,7.8,41.00,49.0,5.342334,0.99760,3.31,0.412110,9.5,6
3917,6.8,0.165514,0.246860,9.8,39.00,29.0,4.736198,0.99406,3.11,0.371564,10.9,7

In [9]:
df.isna().sum()

C1         0
C2         0
C3         0
C4         0
C5         0
C6         0
C7         0
C8         0
C9         0
C10        0
C11        0
QUALITY    0
dtype: int64